@import "@/app/globals.scss";

.inputProfileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-start;
  gap: 40px;

  .label {
    line-height: 40px;
    vertical-align: middle;
    min-width: 120px;
  }
}
