@import "@/app/globals.scss";

.nameInput {
  margin-bottom: 15px;
}

.divider {
  margin: 10px 0;
  margin-left: 160px;
  width: calc(80% - 150px - 150px);
  border-width: 2px;
}

.dividerDot {
  border-style: dotted;
}

.darker {
  border-color: #c4c4c4;
}
