@import "@/app/globals.scss";

.pageContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  .listEmployee {
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
